body {
	background-color: #000;
}

.wrapper {
	margin: 0 auto;
	width: 940px;
	overflow: hidden;
}

.col {
	float: left;
}

.content {
	width: 298px;
}

.center {
	width: 212px;
	margin: 0 66px;
}

.footer {
	background: url(../images/footer_jaggered_edge.gif);
	background-repeat: repeat-x;
	background-color: #826a54;
	color: #fff;
	margin-top: 100px;
	padding-top: 25px;
	height: 75px;
}

.main {
	color: #C1B49A;
	padding-top: 40px;
}

.main > .wrapper {
	background: url(../images/columns-bg.gif);
}

h2 {
	background: url(../images/dots.gif);
	background-repeat: repeat-x;
	background-position: center;
	font-family: 'sfmovieposter-bold';
	font-size: 36px;
	text-transform: uppercase;
	color: #fff;
	line-height: 40px;
	letter-spacing: 3px;
	text-align: center;
}

h2 span {
	background-color: #000;
	padding: 0 10px;
}

hr {
    background: url(../images/dots.gif) repeat-x top center;
    height: 1px;
    border: 0;
    margin: 20px 0;
}

p, .event {
	-webkit-font-smoothing: antialiased;
	font-family: 'Gill Sans', sans-serif;
}

.event {
	background: url(../images/dots.gif);
	background-repeat: repeat-x;
	background-position: top;
	padding: 20px 0;
}

h3, h4, .event-details {
	font-size: 14px;
	text-align: center;
	margin-bottom: 5px;
}

h3 {
	font-weight: bold;
}

h3, h4 {
	text-transform: uppercase;
}

.main p {
	margin-bottom: 10px;
	text-align: center;
	font-size: 15px;
	line-height: 22px;
}

.footer p {
	font-size: 14px;
	line-height: 18px;
}

.footer .left {
	text-align: right;
}

a{ -webkit-transition: 0.4s ease-in; -moz-transition: 0.4s ease-in; }

a:link,
a:visited {
	color: #999;
}

a:hover{
	color: #c1b49a;
}

a:active{
	color: #999;
}

.main p img {
	margin: 20px 0;
}

.small-logo {
  display: none;
}

/* Mobile */

@media screen and (max-width: 360px) {

  .wrapper {
    width: 100%;
  }

  .main {
    padding-top: 20px;
  }

  .logo {
    display: none;
  }

  .content {
    float: none;
    width: 100%;
  }

  .event img {
    width: 100%;
    height: auto;
  }

  .footer {
      height: 100px;
  }

  .footer .content {
    text-align: center;
  }

.small-logo {
    background-image: url(../images/roxy-secondary-reversed.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto 100%;
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 20px;
  }

}